.grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    margin-left: 5px;
    border: 1px solid #ddd;
    
}
.grid-row{
    display: flex;
    margin-bottom: 5px  ;
}
