.button-container {
    text-align: right;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center; 
    border: 1px solid; // 默认黑色边框
    border-color:#ddd;
    margin-left: 6px; // 默认居左5px 
    // 每一行的第一个元素不设置左边距，并且可以设置不同边框颜色
    &:first-child {
        margin-left: 0; 
    }

}

.grid-row {
    display: flex;
    margin-bottom: 5px; 
}

/* 每5行增加更大的底部间距 */
.grid-row:nth-child(5n) {
    margin-bottom: 20px;
}

 
.page-grid-container{
    
    border-radius: 10px;
    width: 720px;
    height: 950px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}