/**
 * 自定义字体定义
 */

@font-face {
  font-family: '青鸟华光简行楷';
  src: url('./青鸟华光简行楷.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: '瘦金体';
  src: url('./瘦金体.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}