/* 样式配置表单容器样式 */
.style-option-container {
  padding: 10px 0;
  margin-right: 10px;
}

/* Form.Item样式调整 */
.style-option-container .ant-form-item {
  margin-right: 16px;
  margin-bottom: 12px;
}

/* 颜色选择器样式 */
.style-option-container .ant-color-picker-trigger {
  height: 32px;
  width: 100px;
}

/* 数字输入框样式 */
.style-option-container .ant-input-number {
  width: 100px;
}